/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: #333;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;

    border: none;
    outline: none;

    animation-name: opacity-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    transition: 0.4s;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .animate-panel {
    animation-name: opacity-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }