/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: #333;
    cursor: pointer;
    padding: 1em;
    text-align: left;
    font-size: 1em;

    border: none;
    outline: none;

    animation-name: opacity-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

    transition: 0.4s;
  }

  .accordion:hover {
    font-weight: bold;
    transition: 0.4s;
  }

 .active {
     font-weight: bold;
 }

 .accordion-holder {
        width: 60%;
        margin: auto;
    }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  .animate-panel {
    animation-name: opacity-animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }