.content {
    width: 60%;
    margin: auto;

    display: grid;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    padding-top: 4em;
}

.input-parent {
    /* background-color: rgba(0, 0, 0, 0.103); */
    height: 4em;

    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
}

.sub-input-parent {
    margin: .5em;
}

.input-parent input {
    all: unset;
    height: 2.9em;
    width: 100%;
}

.input-line {
    height: .1em;
    background-color: rgba(0, 0, 0, 0.5);

    width: 0%;
}

.show-line {
    animation-name: expand;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hide-line {
    animation-name: contract;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    from {width: 0%}
    to {width: 100%;}
}

@keyframes contract {
    from {width: 100%}
    to {width: 0%;}
}
