.content {
    width: 60%;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    padding: 0 .5em;
  }
  
  .column img {
    margin: .5em 0;
    vertical-align: middle;
    
    width: 100%;
    height: auto;

    opacity: 0;
  }

  .on-image-loaded {
    animation-name: opacity-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .column img:hover {
      /* opacity: .5; */
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }