* {
    font-family: 'Courier New', Courier, monospace;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.blank-space {
    height: 3em;
}

.top-bar ul {
    list-style-type: none;
    margin: 0 1em 0 1em;
    padding: 1em;
    overflow: hidden;
    background-color: #fff;

    border-bottom: .1em solid rgb(109, 109, 109);

    grid-column-start: 2;
    grid-column-end: 3;
}

.li-left {
    float: left;
}

.li-right {
    float: right;
}

.top-bar li a {
    display: block;
    width: 8em;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.top-bar a:hover {
    color: black;
    font-weight: bold;
}

.profile-holder {
    text-align: center;
    margin: 1em;
}

.profile-picture {
    display: inline-block;
    width: 10em;
    height: 10em;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-image: url('Images/Profile/cara.jpg');
}

.name-title {
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.second-holder {
    margin: 2em;
    height: auto;
    border-style: double;
}

.description {
    padding: 2em 20%;
    text-align: center;
}

.skill-grid-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill-bar {
    height: 5em;
    margin: 1em;
}

.skill-bar h2 {
    padding: 0;
    margin-bottom: .5em;
}

.bar-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: .5em;
    height : auto;
    /* padding: 1em; */
}

.ball {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.ball-fill {
    animation-name: fill-animation;
    animation-fill-mode: forwards;
}

@keyframes fill-animation {
    100% {background-color: black;}
}
