.top-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;

    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
}

.blank-space {
    height: 3em;
}

.top-bar ul {
    list-style-type: none;
    margin: 0 1em 0 1em;
    padding: 1em;
    overflow: hidden;
    background-color: #fff;

    border-bottom: .1em solid rgb(109, 109, 109);

    grid-column-start: 2;
    grid-column-end: 3;
}

.li-left {
    float: left;
}

.li-right {
    float: right;
}

.top-bar li a {
    display: block;
    width: 7em;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.top-bar a:hover {
    color: black;
    font-weight: bold;
}

.profile-holder {
    text-align: center;
    margin: 1em;
}

.profile-picture {
    display: inline-block;
    /* position: relative; */
    width: 10em;
    height: 10em;
    border-radius: 50%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-image: url('http://placehold.it/400x200');
}

.name-title {
    text-align: center;
    word-spacing: 2em;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

.second-holder {
    margin: 2em;
    height: 30em;

    border-style: double;
}