.top-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.top-bar ul {
    list-style-type: none;
    margin: 0 1em 0 1em;
    padding: 1em;
    overflow: hidden;
    background-color: #fff;

    border-bottom: .1em solid rgb(109, 109, 109);

    grid-column-start: 2;
    grid-column-end: 3;
}

.li-left {
    float: left;
}

.li-right {
    float: right;
}

.top-bar li a {
    display: block;
    width: 7em;
    color: #333;
    text-align: center;
    text-decoration: none;
}

.top-bar a:hover {
    color: black;
    font-weight: bold;
}